:root {
  --light-background: #ffffff;
  --dark-background: #080808;
  --light-grey: #9c9c9c;
  --dark-grey: #1b1b1b;
  --pure-black: #000000;
  --light-blue: #d0e6ff;
  --blue: #000aff;
  --light-green: #62ba1b;
  --dark-green: #3f8e00;
  --light-orange: #fff6e9;
  --orange: #ffa217;
  --light-cyan: #e0fff8;
  --cyan: #2ab090;
}