@import url("constants.css");

* {
  font-family: "IBM Plex Mono";
  font-size: 14pt;
  color: var(--light-grey);
}

h1 {
  font-family: "Raleway";
  font-size: 44pt;
  font-weight: 800;
  color: white;
}

h2 {
  font-family: "Raleway";
  font-size: 34pt;
  font-weight: 800;
  color: var(--dark-background);
}

h3 {
  font-family: "Raleway";
  font-size: 24pt;
  font-weight: 800;
  color: var(--dark-background);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

header {
  background-color: var(--dark-background);
  width: 100%;
  height: 100%;
}

#header-content {
  height: 100%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#header-bar {
  width: 100%;
  height: 60pt;
  background-color: var(--dark-grey);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#header-section-links {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding-left: 8%;
  gap: 80pt;
}

#header-section-links > a {
  text-decoration: none;
}

#header-contact-links {
  width: 30%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: center;
  padding-right: 8%;
  gap: 40pt;
  opacity: 30%;
}

#header-contact-links > a {
  /* height: 16pt; */
  height: 24pt;
}

#header-contact-links > a > img {
  height: 100%;
}

#header-presentation {
  width: 100%;
  /* height: 60pt; */
  /* height: 100%; */
  /* background-color: var(--dark-grey); */
  /* border-bottom-left-radius: 10px; */
  /* border-bottom-right-radius: 10px; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#header-presentation-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* align-items: center; */
  padding-left: 10%;
  padding-top: 150pt;
  padding-bottom: 150pt;
  gap: 30pt;
}

#header-presentation-content > * {
  margin: 0;
}

#header-presentation-content > button {
  width: 50%;
  height: 60pt;
  background-color: var(--dark-green);
  border-style: solid;
  border-width: 2px;
  border-color: var(--light-green);
  border-radius: 5px;
  color: white;
}

#header-presentation-image {
  width: 50%;
  /* padding: auto; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-presentation-image > img {
  width: 60%;
  clip-path: circle();
  /* margin-left: 20%; */
  /* margin-right: 10%; */
}

#header-companies {
  padding-left: 10%;
}

#header-companies-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30pt;
}

#header-companies-list > button {
  width: 5cm;
  height: 1.5cm;
  /* background-color: black; */
  background-color: var(--dark-background);
  border-style: solid;
  border-width: 2px;
  border-color: var(--dark-grey);
  border-radius: 10px;
}

#header-companies-list > button > img {
  height: 60%;
  opacity: 30%;
}

main {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 80pt;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 80pt;
}

main > section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10pt;
}

main > section > * {
  margin: 0;
}

main > section > p {
  width: 50%;
  text-align: center;
}

#work-section-jobs {
  width: 100%;
  margin-top: 10pt;
}

#work-section-jobs-slim {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30pt;
}

#work-section-jobs-slim > div {
  /* width: 40%; */
  width: 47%; /* Magic number, to change later */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20pt;
}

#work-section-jobs-slim > div > * {
  margin: 0;
}

#work-section-jobs-slim > div > img {
  width: 100%;
  margin-bottom: 20pt;
}

/* #work-section-jobs-slim > div > button {
  width: 5cm;
  height: 1.2cm;
  background-color: var(--dark-green);
  border-style: solid;
  border-width: 2px;
  border-color: var(--light-green);
  border-radius: 5px;
  color: white;
} */

.two-colors-button {
  width: 5cm;
  height: 1.2cm;
  background-color: var(--dark-green);
  border-style: solid;
  border-width: 2px;
  border-color: var(--light-green);
  border-radius: 5px;
  color: white;
  box-shadow: 3pt, 3pt, 3pt, 3pt, blue;
}

#projects-section-area {
  width: 100%;
  margin-top: 10pt;
}

#projects-section-area-slim {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 80pt;
}

#projects-section-area-slim > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

#projects-section-area-slim > div > div {
  width: 50%;
}

#projects-section-area-slim > div > div > * {
  margin: 0;
}

#projects-section-area-slim > div > div.left > * {
  margin-right: 5%;
}

#projects-section-area-slim > div > div.right > * {
  margin-left: 5%;
}

.projects-section-area-slim-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10pt;
}

.projects-section-area-slim-content-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15pt;
}

.projects-section-area-slim-content-tags > span {
  padding-left: 10pt;
  padding-right: 10pt;
  border-radius: 12pt;
}

.projects-section-area-slim-content-tags.orange > span {
  background-color: var(--light-orange);
  color: var(--orange);
}

.projects-section-area-slim-content-tags.blue > span {
  background-color: var(--light-blue);
  color: var(--blue);
}

.projects-section-area-slim-content-tags.cyan > span {
  background-color: var(--light-cyan);
  color: var(--cyan);
}

.projects-section-area-slim-content-tags > span > p {
  font-size: 12pt;
  margin-top: 6pt;
  margin-bottom: 6pt;
  color: inherit;
}

.single-color-button {
  width: 5cm;
  height: 1.2cm;
  /* background-color: black; */
  border-style: hidden;
  border-radius: 5pt;
  color: white;
}

.single-color-button.orange {
  background-color: var(--orange);
}

.single-color-button.blue {
  background-color: var(--blue);
}

.single-color-button.cyan {
  background-color: var(--cyan);
}

#projects-section-area-slim-image > img {
  width: 100%;
}